@import url('https://fonts.googleapis.com/css?family=Nunito|Quattrocento+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}